/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.btn-add {
    margin-right: 2em;
}

.non-selected-note {
    color: #4b4b4b;
}

h1, h2 {
    margin-bottom: 1em;
}

.lecturer-name {
    font-style: italic;
    float: right;
}

.url-field {
    width: 100%;
    margin-top: 4px;
}

.url-field-text {
    padding-top: 5px;
    font-weight: 600;
}

.loading-spinner {
    height: 1em;
}

.loading-error-alert {
    margin: -10px auto 20px;
    /* dsiplay:block causes the content to use 100% width and display:inline-block doesn't center correctly */
    display: table;
}

.loading-error-alert ul {
    margin: 6px 0;
}

.loading-error-container {
    width: 100%;
}